.contacts {
  padding: 87px 27px 20px 27px
}

.contacts__title {
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #0f805d;
  text-align: center;
  padding: 0 6px 0 0;
  margin: 0 0 64px 0;
}

.contacts__subject {
  text-align: center;
  margin: 0 0 34px 0;
  font-size: 16px;
  line-height: 19px;
}

.contacts__address-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3px;
  margin: 0 0 11px 0;
}

.contacts__address {
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
}

.contacts__phone-wrap {
  margin: 0 0 12px 0;
}

.contacts__phone {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #7bdb0a;
  }

  &:active {
    color: #0f805d;
  }

  &:focus-visible {
    outline: none;
    color: #7bdb0a;
  }
}

.contacts__email {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #7bdb0a;
  }

  &:active {
    color: #0f805d;
  }

  &:focus-visible {
    outline: none;
    color: #7bdb0a;
  }
}

.contacts__icon {
  vertical-align: middle;
}
