.contacts {
  padding: 87px 27px 20px 27px
}

.contacts__title {
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #0f805d;
  text-align: center;
  padding: 0 6px 0 0;
  margin: 0 0 64px 0;
}

.contacts__subject {
  text-align: center;
  margin: 0 0 34px 0;
  font-size: 16px;
  line-height: 19px;
}

.contacts__container {
  margin: 0 0 24px 0;
}

.contacts__address-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3px;
  margin: 0 0 11px 0;
}

.contacts__address {
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
}

.contacts__phone-wrap {
  margin: 0 0 12px 0;
}

.contacts__phone {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #7bdb0a;
  }

  &:active {
    color: #0f805d;
  }

  &:focus-visible {
    outline: none;
    color: #7bdb0a;
  }
}

.contacts__email {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #7bdb0a;
  }

  &:active {
    color: #0f805d;
  }

  &:focus-visible {
    outline: none;
    color: #7bdb0a;
  }
}

.contacts__icon {
  vertical-align: middle;
}

.contacts__wrapper-map {
  position: relative;
  margin: 0 -27px;
}

.contacts__map-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 31%;
  color: #6a107a;
}

.contacts__map {
  width: 100%;
  object-fit: cover;
  display: none;
  background-color: #f4e9d7;
  height: auto;
}

.contacts__google-map {
  width: 100%;
}

.contacts__wrapper-map--nojs .contacts__google-map {
  display: none;
}

.contacts__wrapper-map--nojs .contacts__map {
  display: block;
}

.contacts__wrapper-map--nojs .contacts__map-icon {
  display: block;
}
