.hero {
  background-color: #d3e0e8;
  padding: 68px 27px 100px 28px;
}

.hero__title {
  color: #0f805d;
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0 0 32px 0;
}

.hero__list {
  list-style-type: none;
  margin: 0;
  padding: 0 28px 42px 28px;
  font-size: 16px;
  line-height: 19px;
}

.hero__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 11px;
  padding: 0 0 11px 0;
}

.hero__text--ice {
  padding: 0 0 10px 0;
}

.hero__button {
  padding: 16px 82px 16px 77px;
  box-sizing: border-box;
}
